Sub-RAG & Q&A.json
{
  "name": "Sub-RAG & Q&A",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        -176
      ],
      "id": "e9c0008e-f896-4150-9ef5-c3b50ddb56e1",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        -48
      ],
      "id": "1a904c57-5359-48b5-a9ee-3b483afd24c9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tlPeQ3oDkTDspnu4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2864,
        96
      ],
      "id": "ebcf977b-66a5-4059-adbe-0050a0f7561e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2656,
        -144
      ],
      "id": "6d3b7cc3-13ee-473d-8315-e2660da593b8",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "L3vt4TVsKyH1LSLX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2672,
        16
      ],
      "id": "4346e054-315c-4636-8ed9-19a6c396c6d5",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "6MAr2hO1eZg1puy5",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PyYS2MVXvUj7n9q-C4du4eeO5Oe-d3B3",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PyYS2MVXvUj7n9q-C4du4eeO5Oe-d3B3"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        2064,
        0
      ],
      "id": "aefde2cf-6b41-4ca4-9c53-d1780f99b414",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tlPeQ3oDkTDspnu4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.studentMsg }}",
        "options": {
          "systemPromptTemplate": "Bạn là trợ lý học tập chuyên nghiệp cho sinh viên Khoa Khoa học Máy tính. Nhiệm vụ của bạn là:\n- Nếu sinh viên yêu cầu tóm tắt, hãy đọc các kiến thức từ Vector Store (được cung cấp ở phần Ngữ cảnh bên dưới) và trình bày ngắn gọn, súc tích theo từng ý chính.\n- Nếu sinh viên hỏi đáp, hãy dựa trên giáo trình để trả lời một cách chính xác.\n- Luôn trả lời bằng tiếng Việt. Nếu thông tin không có trong tài liệu, hãy lịch sự thông báo cho sinh viên rằng thông tin đó không nằm trong phạm vi giáo trình hiện tại, tuyệt đối không tự bịa ra câu trả lời.\n\nNgữ cảnh (Tài liệu từ giáo trình):\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1232,
        -176
      ],
      "id": "5311b99b-e104-4040-b2c0-c023385ebf9c",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1088,
        48
      ],
      "id": "c20dd681-d182-4023-8f9e-7035d2ebf77b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KmakYF0S2lkUfuAf",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1360,
        32
      ],
      "id": "f0256745-2cb2-47e3-bbcc-ab12617f26a9",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1376,
        208
      ],
      "id": "cdff81b8-d23e-43c5-b99b-dcddac7cf2e3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "L3vt4TVsKyH1LSLX",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1328,
        368
      ],
      "id": "e93bab2c-29e6-48e6-a0d8-5bae6ea48251",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "6MAr2hO1eZg1puy5",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1584,
        -176
      ],
      "id": "3cd1a636-5525-43ae-9760-8eb7f2f80f18",
      "name": "Send a text message",
      "webhookId": "1fd34ea8-cb58-4401-988e-e7031e43089a",
      "credentials": {
        "telegramApi": {
          "id": "NUDq4gUtuivnWQXB",
          "name": "VKU_Bot"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "chatId": 8662711873,
          "studentMsg": "tóm tắt"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ed102e9b-1904-4590-8fed-d3585dd377b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d800b9d61e1192d5da59ee52f944c41fcd2ecf75dd5a1357c2cc02e1692ca5c8"
  },
  "id": "L1VZEQwgbitqqoUM",
  "tags": []
}